body {
  background-color: #4d4d4d;
}

svg {
  background-color: #fff;
}

.scoreboard div {
  float: left;
  height: 25px;
  margin: 0 30px 0 0;
  font-family: Arial;
  color: #fff;
}

.scoreboard {
  margin-top:15px;
  height: 20px;
  padding: 10px 18px;
}
/*
.flying-left {
  background-image: url(bird-left-sprites.jpg);

}

.flying-right {
  background-image: url(bird-sprites.jpg);
  -webkit-animation: flyright 2s steps(12) infinite;
  height: 30px;
  width: 60px;
}

@-webkit-keyframes flyright {
  from { background-position: 0px;}
  to { background-position: -615px;}
}
*/
