.container {
  width: 750px;
  height: 500px;
  margin: 0 auto;
  position: relative;
}

.scoreboard div {
  float: left;
  height: 25px;
  margin: 0 30px 0 0;
  font-family: Arial;
  color: #fff;
}

.scoreboard {
  margin-top:15px;
  height: 20px;
  padding: 10px 18px;
}

span.enemy {
  background-image: url(lib/squirrel.png);
  height: 32px;
  width: 32px;
}

.move-left {
  -webkit-animation: moveRight 0.4s steps(3) infinite;
}

.move-right {
  -webkit-animation: moveRight 0.4s steps(3) infinite;
}

@-webkit-keyframes moveRight {
  from { background-position: 0 128px;}
  to { background-position: -96px 128px;}
}

